<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Todo API</title>
	<link rel="stylesheet" type="text/css" href="/styles/styles3.css">

</head>
<body>

	<div id= "container">
		<h2>TODOS</h2>
		<div id = "innercontainer">

			<p>
				<% todos.forEach(function(todo){%>
				<p><span style = "font-weight:bold">id</span> <%=todo.id %></p>
				<p><h4>Description</h4><%=todo.description %>
				<h4>Completed</h4> <%=todo.completed %>
				</p><hr id = "line">
				<%})%>

			</p>

		</div>

		<br>
		<button onclick = "location.href = 'http://localhost:3000/mainPage'">Post new todo</button><br><br>

		<form action = "<%=url%>/deleteTodos/" method = "post">
				
			Delete (enter todo id):<br>
			<input style = "text-align: center; width: 45px; " type="number" name="id" placeholder = "id"><br>
			<input type="submit" value="Delete">

		</form>
				<br><br>
			<form action = "<%=url%>/editTodos" method = "post">
				
				Edit todo (enter todo id):<br>
				<input style = "text-align: center; width: 46px; " type="number" name="id" placeholder = "id"><br>
				Description:<br>
				<input type="text" name="description" placeholder = "new description"><br>
				Completed:<br>
				<input type="text" name="completed" placeholder="true or false"><br>
				<input type="submit" value="Edit">
			</form>
	</div>

</body>


</html>